@model FavouriteAccounts.ui.Models.FavouriteAccountModel

<h3><b>Edit favorite:</b></h3>

@using (Html.BeginForm("Edit", "Favourite", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    <table>

        <tr>
            <td>Account Name: </td>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>IBAN/Account number: </td>
            <td>@Html.TextBoxFor(m => m.AccountNumber)</td>
        </tr>
        <tr>
            <td>Bank: </td>
            <td>@Html.TextBoxFor(m => m.BankId, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" /> |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                @*<button value="Save">Submit</button>*@
            </td>
        </tr>
    </table>
}
